.scroll-btn{
    position: fixed;
    width: fit-content;
    right: 10%;
    bottom: 40px;
    font-size: 3rem;
    z-index: 1;
    /* cursor: pointer; */
    background: transparent;
    border: transparent;
    transform: scale(2);
    
}


@media screen and (max-width:1000px){
    .scroll-btn{transform: scale(1.2) !important;}
}
