.about{
    display: flex;
    /* height: 100vh; */
    padding: 0 3rem 0 0rem;
    margin: 6rem 0 -2rem 0;
}

.left{
    display: flex;
    position: relative;
    flex: 1;
    flex-direction: column;
    gap: 2rem;
}

.left>:nth-child(1){
    color: var(--black);
    font-size: 2.5rem;
    font-weight: bold;
}

.left>:nth-child(2){
    font-weight: normal;
    color: var(--gray);
    font-size: 1rem;
    
}

.greet{
    display: inline-block;
    padding: 1px 0;
    margin: 1px 0;
}

.right-cards{
    display: flex;
    position: relative;
    flex: 1;
    flex-direction: column;
    gap: 2rem;
    color: aliceblue;
}


.card1{
    position: absolute;
    left: 18rem;
    top: -2rem;
}

.card2{
    position: absolute;
    top: 16rem;
}

.card3{
    position: absolute;
    top:20rem;
    left: 1rem;
}

.about-blur{
    background: var(--yellow);
    position: relative;
    left: -5rem;
    top: 30px;
    opacity: 60%;
}

.about-blur2{
    position: relative;
    left: -10rem;
    top: 10rem;
    opacity: 40%;
    /* height: 190rem; */
    width: 150%;
    height: 200%;
    background-color: rgba(236, 40, 40, 0.545);
}

@media screen and (max-width: 500px){
    .about{
        margin-top: 0;
        flex-direction: column;
        gap: 5rem;
        height: 66rem;
        padding: 0;
        text-align: center;
    }
    .right-cards{
        display: flex;
        flex-direction: column;
        gap: 17rem;
        left:7%;
        
    }
    
    .right-cards>*{
        position: static;
        margin-top: 2rem;
        width: 100%;
    }
    .about-blur{
        display: none;
    }
}


@media screen and (min-width:500px) and (max-width:1000px){
    .about{
        margin-bottom: 10rem;
        text-align: center;
    }
}

@media screen and (max-height:350px){
    .about{
        margin-top: 10rem;
    }
}