.n-wrapper{
    height: 10vh;
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 0 1rem 0;
}


.nav-left{
    flex: 1;
    align-items: center;
    display: flex;
    gap: 2rem;
}

.n-name{
    font-size: 1.3rem;
    font-weight: bold;
    font-style: italic;
}

.n-name:hover{
    /* cursor:pointer; */
    /* color: var(--yellow); */
    font-size: 1.5rem;
    /* animation: rotate 2s 1; */
}


@keyframes rotate{
    50% { transform: rotate(360deg);}
}

.nav-right{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    font-weight: 400;
}

.n-list{
    flex: 10;

}

.n-list>ul{
    display: flex;
    gap: 2rem;
    margin-right: 4rem;
    list-style-type: none;
}

.nav-links{
    font-weight:400;
    font-size: 20px;
}

.nav-links:hover{
    color: var(--orange);
    transform: scale(1.3);
    /* cursor: pointer; */
    font-weight: 560;
}

.n-button{
    flex: 2;
    position:relative;
    right: 4rem;
}

@media screen and (max-width: 480px){
    
    .n-list{
        display: none;
    }
    .n-button{
        display: none;
    }
    .nav-blur{
        width: 8rem !important;
        display: flex;
        left: 3px !important;
        /* overflow: hidden!important;   */
    }
}

@media screen and (min-width:500px) and (max-width:1000px){
    .n-wrapper{
        padding-left: 5rem !important;
        /* border: 2px solid red; */
        margin-top: 0.3rem;
    }
    .n-list{
        transform: scale(5) !important;
    }
    
   
}