.footer {
  display: flex;
  align-items: center;
  margin: 5.5rem -3.5rem -9rem;
  position: relative;
  /* margin-top:3rem; */
  /* height: 30vh; */
  gap: 2;
}
.f-content {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin-top: 4rem;
  gap: 4rem;
  color: white;
}
.f-icons {
  display: flex;
  gap: 2rem;
}

.f-in:hover{
    fill: var(--orange);
}

@media screen and (max-width: 820px){
  .footer{
    height: 180px;
  }
  .f-content{
    transform: scale(.7);
  }
}


@media screen and (min-width:500px) and (max-width:1000px){
  .footer{
    transform: scale(1) !important;
    margin-top: 2rem;
  }
  
  .f-content{
    text-align: center;
    margin-left: 1.3rem;
    transform: scale(0.85);
    /* margin-top: 5rem; */
  }

  .f-icons{
    transform: scale(1);
    margin-top: -2rem;
  }
  
}