.contact-me {
    display: flex;
    height: 80vh;
    margin-left: -20%;
    margin-top: 5rem;
    margin-bottom: -1rem;
    padding-top: 3rem;
}



.c-left {
    display: flex;
    position: relative;
    flex: 1;
    flex-direction: column;
    margin-top: 10%;
    text-align: center;
    gap: 2rem;
}

.awesome>:nth-child(1) {
    color: var(--black);
    font-weight: bold;
    font-size: 2.5rem;
    position: absolute;
}

.awesome>:nth-child(2) {
    color: var(--orange);
    font-weight: bold;
    position: relative;
    top: 120%;
    font-size: 2.5rem;
    margin-left: 15px;

}

.c-right {
    display: flex;
    flex: 1;
    margin-top: 25px;
    flex-direction: column;
    align-items: center;
    margin-left: -30%;
}

.user {
    padding: 1rem;
    margin: 1rem;
    text-align: center;
    color: var(--black);
    border-radius: 30px;
    font-size: 1rem;
    width: 20rem;
    border: 3.5px solid var(--orange);
}

input:focus,
textarea:focus {
    outline: none !important;
    width: 25rem;
    border: 3.5px solid var(--yellow);
    color: var(--black);
}

#ta {
    padding-top: 1rem;
    margin: 1rem;

}

#ta:focus {
    width: fit-content;
}

.wave-img {
    margin: -60px;
    width: 120%;
    height: 1%;

}


.c-btn {
    border-radius: 34px;
    border: none;
    color: white;
    font-size: 20px;
    width: fit-content;
    padding: 11px 26px 11px 26px;
    background: linear-gradient(180deg, #fdc50f 26.71%, #fb982f 99.36%);
    box-shadow: 0px 20px 24px 3px rgba(251, 161, 40, 0.42);
}

.c-btn:hover,
.c-btn:focus {
    background: #ffffff;
    color: var(--orange);
    cursor: pointer;
    border: 1px solid;
    border-color: var(--orange);
}

.contact-loader {
    text-align: center;
    margin: auto;
    justify-content: center;
    align-items: center;
    margin-right: 8rem;
    margin-top: 3rem;
    /* border: 2px solid red; */
}


.contact-blur {
    opacity: 60%;
    background: coral;
}

@media screen and (max-width:500px) {
    .contact-me {
        flex-direction: column;
        height: 36rem;
    }

    .c-left {
        margin-left: 50px;
    }

    .c-right {
        margin-left: 82px;
    }


    .awesome {
        display: block;
        position: relative;
    }

    .contact-blur{
        margin-left: -10rem;
        transform: scale(0.5);
    }

    #c-me {
        /* display: block; */
        /* border: 2px solid black; */
        margin-bottom: 10rem;
    }

    .user {
        display: block;
        width: 15rem;
    }

    .user:focus {
        width: 19rem;
    }

    .contact-loader {
        display: absolute;
        margin-bottom: 7rem;
        margin-right: 5rem;
        padding: -10rem;
        /* border: 2px solid red; */
    }
}


@media screen and (min-width:500px) and (max-width:1000px) {
    .contact-me {
        gap: 10rem;
        margin-top: -15rem;
        margin-bottom: 3rem;
    }

    .c-left {
        padding: 1rem;
        padding-left: 5rem;
    }

    .c-right {
        padding-left: 3rem;
    }
}

@media screen and (max-height:350px) {
    .contact-me{
        margin-top: -10rem;
        margin-bottom: 10rem;
    }
}